
/*

NAV BAR

*/



*{

    margin: 0;

    padding: 0;

}



#navBar{

    height: 10vh;

    width: 100%;

    background : grey;

    display: flex;

    justify-content: space-around;
    
}




#navBar div{

    height: 100%;

    width: 10%;

    background : grey;

}






#mainDivs{
    
    position: fixed;

    top: 14vh;

    left: 0px;

    height: 85vh;

    width: 95vw;

    margin-left: 2.5vw;


    display: flex;

    justify-content: space-between;

    flex-direction: column;
    
 }


 #aisAndBoard{

    height: 83%;

    width: 100%;

    display: flex;

    justify-content: space-between;

 }

 
 #aisAndBoard div{

    height: 100%;

 }


 #ai1Div{

     width: 15%;

     display: flex; 

     flex-direction : row;

     justify-content: space-between;
 }


 #mainAi1Div{

    height: 100%;

    width: 70%;

    background: red;

    overflow: hidden;

 }



 #mainAi1Div p{

    padding : 15px;


  }
#ai1DivPropertiesCount{
    
    height: 100%;

    width: 20%;

    background: brown;

    display: flex;

    flex-direction: column;

    justify-content: space-between;



}



 #ai2Div{

    width: 15%;
 
    display: flex; 

    flex-direction : row;

    justify-content: space-between;


 }


 #mainAi2Div{

    height: 100%;

    width: 70%;

    background: red;

    overflow: hidden;

    
 }

  #mainAi2Div p{

    padding : 15px;


  }

#ai2DivPropertiesCount{
    
    height: 100%;

    width: 20%;

    background: brown;
    
}



#humanBoard{

    height: 7%;

    width: 100%;

    background: brown;

    display: flex;

    justify-content: space-between;
}

#propertiesCountDiv{

    height : 100%;

    width: 35%; 

    background: blue;

    display: flex;

    flex-direction: row;

    justify-content: space-between;
}


#propertiesCountDiv div {

    height : 100%;
}


#rentalPropertiesCount{
    
    width : 75%;

    background: green;

    display: flex;

    justify-content: space-around;
}



#rentalPropertiesCount div{
    
    height: 100%;

    width : 10%;

    background: grey;

    display: flex;
}



#trainsAndPublicServicesCount{
    
    width : 20%;

    background: orange;

    display: flex;

    justify-content: space-around;
}


#trainsAndPublicServicesCount div{
    
    height: 100%;

    width: 40%;

    background: purple;

    display: flex;
}

#managementDiv{

    height : 100%;

    width: 65%; 

    background: purple;

    display: flex;

    justify-content: space-around;

}









#logoImg img{

    margin-top: 5%;

    width: 100%;

    height: auto;
}



/*


BOARD


*/





#board{

    height: 100%;

    width: 60%;

    background: blue;

    display: flex;

    flex-direction: column;
    
}



#topEdge{

    height: 9.09%;

    width: 100%;

    background: red;

    display: flex;

    flex-direction: row;
}


#topEdge div{

    height: 100%;

    width: 10%;

    border : 1px solid;

}


#bottomEdge{

    height: 9.09%;

    width: 100%;

    background: purple;

    display: flex;

    flex-direction: row;

}



#bottomEdge div{

    height: 100%;

    width: 9.09%;

    border : 1px solid;

}


#boardDiv2{

    height: 81.82%;

    width: 100%;

    background: green;

    display: flex;

    justify-content: space-between;
}


#boardDiv2 div{

    height: 100%;
 
}


#leftEdge{

    width: 9.09%;

    background: yellow;

    display: flex;

    flex-direction: column;
}

#rightEdge{

    width: 9.09%;

    background: yellow;

    display: flex;

    flex-direction: column;
}
#boardJournal{

    height: 100%;
    width: 30%;

    background: purple;

    display: flex;

    flex-direction: column;
}







#boardDiv2 div div{

    height: 11.11%;
    width: 100%;
    border: 1px solid;


}



.square{

    display: flex;

    flex-direction: row;
    
    
}


.square div{

    height: 100%;

    width: 25%;

}




#diceLaunchButton{

    position: absolute;

    top: 40vh;

    left: 0.5vw;
}





/* 


  Pawn containers div


*/



/*



Proposition interface



*/





#propositionInterface{

    
    position: absolute;
    
    top: 10%;

    left: 10%;

    height: 80%;

    width: 75%;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    opacity: 0;


}



#propositionInterface #topDiv{

    height: 60%;

    width : 100%;

    display : flex;

    flex-direction: row;

    justify-content: space-between;

}




#offererDiv{

    width: 40%;

    height: 100%;

    background : orange;

    display: flex;

    flex-direction: column;

    justify-content: space-around;


    

}


#offererDiv div {

    width: 100%;

    height: 10%;

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    background : green;

}



#offererDiv div div {

    width: 20%;

    height: 100%;

}




#answererDiv{

    width: 55%;

    height: 100%;

    background: red;


    display: flex;

    flex-direction: row;

}




#bottomDiv{

    height: 35%;

    width: 100%;


    background  :blue;



}






/*

proposition interface left nav buttons 

*/




#answererDiv #leftNav{

    height: 100%;

    width: 20%;

    display: flex;

    flex-direction: column;

  }

  

#answererDiv #leftNav div{


    width:100%;

    display: flex;

    flex-direction: column;

    height: 33.3%;

    border: 1px solid;

  }
  
  
  
  


#answererDiv #answererProperties{

    height: 100%;

    width: 100%;

    display: flex;

    flex-direction: column;

    background: purple;

    justify-content: space-around;
    

  }


  

#answererDiv #answererProperties div {
 
    height: 12.5%;

    width: 100%;

    display: flex;

    flex-direction: row;

    background: green;

    justify-content: space-around;

  }



  #answererDiv #answererProperties div div{
 
     font-size : 15px;

  }

    
  
/*

proposition buttons


*/



.addCpElementButton{

    height: 400%;
}

.addOfferElementButton{

    height: 100%;
}



#propositionButton{

    position: absolute;

    right: 10px;

    bottom: 10px;
}




/* close proposition interface button */




.closeInterfaceBtn{


    position: absolute;

    top: 10px;

    right: 10px;
}



















/*

  Available property interface

*/


#availablePropertyInterface{

    position: absolute;

    top: 20%;

    left: 30%;

    height: 30%;

    width: 50%;

    background: white;

    border: solid 1px;

    opacity: 0;

    z-index: 1;

   
}



/* player properties management interface */



#playerPropertiesManagementInterface{

    position: absolute;

    height: 80%;

    width: 60%;

    top: 10%;

    left: 30%;

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    align-items: center;

    border: solid 1px;

    opacity: 0;
}

#playerPropertiesManagementInterface div{


    height: 85%;

    width: 45%;

    background: blue;

    display: flex;
    
    flex-direction: column;

    align-items: center;

    justify-content: space-around;

}



#playerPropertiesDiv div{


    height: 12.5%;

    width: 100%;

    display: flex;

    flex-direction: row;

    justify-content: space-around;



}


#playerPropertiesDiv div div{

    height: 100%;

    width: 20%;

}


#playerPropertiesManagementInterface #propertyManagementDiv{


    display: flex;

    flex-direction: column;

    justify-content: space-around;

    background: red;

}



#playerPropertiesManagementInterface #propertyManagementDiv #propertyManagementTop{


    height: 10%;

    width: 100%;

    background : purple;

}


#playerPropertiesManagementInterface #propertyManagementDiv #propertyManagementBottom{


    height: 80%;

    width: 100%;

    background : yellow;

}






#unavailableFundInterface{


    position: absolute;

    top: 20%;


    left: 30%;


    height: 30%;

    width: 50%;

    background: white;

    border: solid 1px;

    opacity: 0;


 }





 /* Community chest square interface */




 #communityChestSquareInterface{

    position: absolute;

    top: 20%;

    left: 30%;

    height: 30%;

    width: 50%;

    background: white;

    border: solid 1px;

    z-index: 1;

    opacity: 0;


 }




 /* chance square interface */



 #chanceSquareInterface{

    position: absolute;

    top: 20%;

    left: 30%;

    height: 30%;

    width: 50%;

    background: white;

    border: solid 1px;

    z-index: 1;

    opacity: 0;

 }










 #openPropositionInterfaceButton{

    position: relative;

    z-index: 2;
 }



 
 #openPropertiesManagementInterfaceButton{

    position: relative;

    z-index: 2;
 }






 #sendPropositionButton{

    position : absolute;

    bottom: 20px;

    right: 20px;

 }





 #humanAnswerInterface{

    position: absolute;

    top : 40%;

    left: 30%;

    height: 40%;

    width: 40%;

    background: white;

    opacity: 0;

 }

 



 

div[id*="PawnContainer"] {
    
    height: 10%;

    width : 10%;
   }
