
/*

NAV BAR

*/


*{
    margin: 0;
    padding: 0;
}



body{

    background: darkblue;

    font-size: 13px;

    transition: all 1s ease;
}


canvas{

    height: 50% !important;

    width: 60% !important;
    
}


#notificationsDiv{

    position: absolute;

    right: 15vw;

    top : 10vh;

    height: 10vh;

    width: 10vw;

    z-index: 10;

    background: red;


}


#navBar{

    height: 10vh;

    width: 100%;

    background : lightblue;

    display: flex;

    justify-content: space-around;
    
}




#navBar div{

    height: 100%;

    width: 10%;

    background : lightblue;

}






#mainDivs{
    
    position: fixed;

    top: 10vh;

    left: 0px;

    height: 80%;

    width: 95vw;

    margin-left: 2.5vw;
    
    display: flex;

    justify-content: space-between;

    flex-direction: column;

    align-items: center;


 }





 .housesDiv{

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    align-items: space-around;

 }

 

 .housesDiv div{

   height : 100%;

   width: 20%;

 }


 
 .pawnsDiv{

    display: flex;

    flex-direction: row;

    justify-content: space-between;

    align-items: space-around;

 }

 

 .pawnsDiv div{

   height : 100%;

   width: 20%;

 }



 #aisAndBoard{

    height: 100%;

    width: 100%;

    display: flex;

    justify-content: space-between;

 }

 
 #aisAndBoard div{

    height: 100%;

 }





 #ai1DivAndStats{

     width: 15%;

     display: flex; 

     flex-direction : column;

     justify-content: space-between;
 }


 #ai1Div{

    height: 40%;

    width: 100%;

    overflow: hidden;

    display: flex ;

    flex-direction: column;

    justify-content: space-around;

 }

 #ai1Div div{

    background : purple;


    width: 100%;

 }

#humanDiv{
    
    height: 40%;

    width: 100%;

    background: blue;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

}


#humanDiv div{

    background : purple;

    width: 100%;

}

 #ai2AndAi3Div{

    width: 15%;
 
    display: flex; 

    flex-direction : column;

    justify-content: space-between;


 }

 #ai2Div{
    
    height: 40%;

    width: 100%;

    background: blue;

    overflow: hidden;

    display : flex;

    flex-direction: column;

    justify-content: space-around;
    
}


#ai2Div div{

    background : purple;

    width: 100%
}



#ai2Div p{

    padding : 15px;


  }


 #ai3Div{

    height: 40%;
    width: 100%;
    background: blue;
    overflow: hidden;

    display: flex;
    
    flex-direction: column;

    justify-content: space-around;

    
 }


 #ai3Div div{

    background : purple;

    width: 100%
}



#humanBoard{

    height: 7%;

    width: 100%;


    display: flex;

    justify-content: space-between;
}

#interfacesPanel{

    position: fixed;

    bottom:0px;

    height: 7%;

    width: 100%;

    background: red;

    display: flex;

    justify-content: space-around;

    flex-direction: row;

    z-index: 3;

    opacity: 0;

}

#interfacesPanel div{
   
    height: 70%;

    width: 40%;

}



#propertiesCountDiv{

    height : 100%;

    width: 35%; 

    background: blue;

    display: flex;

    flex-direction: row;

    justify-content: space-between;
}


#propertiesCountDiv div {

    height : 100%;
}


#rentalPropertiesCount{
    
    width : 75%;

    background: darkblue;

    display: flex;

    justify-content: space-around;
}



#rentalPropertiesCount div{
    
    height: 100%;

    width : 10%;

    background: lightblue;

    display: flex;
}



#trainsAndPublicServicesCount{
    
    width : 20%;

    background: lightblue;

    display: flex;

    justify-content: space-around;
}


#trainsAndPublicServicesCount div{
    
    height: 100%;

    width: 40%;

    background: blue;

    display: flex;
}

#managementDiv{

    height : 100%;

    width: 65%; 

    background: blue;

    display: flex;

    justify-content: space-around;

}









#logoImg img{

    margin-top: 5%;

    width: 100%;

    height: auto;
}



/*


BOARD


*/



#board{

    height: 100%;

    width: 85vh;

    background: blue;

    display: flex;

    flex-direction: column;
    
}




#middleDiv{

    height: 100%;
    
    width: 100%;

    background: lightblue;

    
}






.square{

    display: flex;

    flex-direction: row;
    
    
}


.square div{

    height: 100%;

    width: 25%;

}



.boardSquare{

    background:green; 
    display:flex; 
    flex-direction: column; 
    justify-content: space-around ; 
    align-items: center;
}


#diceLaunchButton{

    position: absolute;

    top: 40vh;

    left: 0.5vw;
}





/* 


  Pawn containers div


*/



/*



Proposition interface



*/





#propositionInterface{

    
    position: absolute;
    
    top: 10%;

    left: 7.5%;

    height: 80%;

    width: 85%;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    opacity: 0;


}



#propositionInterface #topDiv{

    height: 80%;

    width : 100%;

    display : flex;

    flex-direction: row;

    justify-content: space-between;

}




#offererDiv{

    width: 40%;

    height: 100%;

    background : darkblue;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

}


#offererDiv div {

    width: 100%;

    height: 10%;

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    align-items: center;

    background : green;
    

}



#offererDiv div div {

    width: 70%;

    height: 80%;

    display: flex;

    flex-direction: row;

    justify-content: space-around;

    align-items: center;

    background: red;

    

}



#offererDiv div .developmentDiv{
    width:10%;    
    background: yellow;
}




#offererDiv div .propertiesDiv{
    
    display: flex;
    justify-content: space-around;
    height: 80%;
    width : 80%; 
    background: purple;

    font-size : 5px;


}



#offererDiv div .propertiesDiv div{
    
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 80%;
    width : 40%; 
    background: green;

    border-radius: 8px;

}


#offererDiv div .propertiesDiv div div{

    background:pink;
    height: 80%;
    width: 25%;

}


#offererDiv div .propertiesDiv div #colorSetLeftDiv{

    background:pink;
    height: 80%;
    width: 15%;

}







#answererDiv{

    width: 55%;

    height: 100%;

    background: blue;

    display: flex;

    flex-direction: row;

}



#bottomDiv{

    height: 15%;

    width: 100%;

    background :blue;

}





/*

proposition interface left nav buttons 

*/




#answererDiv #leftNav{

    height: 100%;

    width: 20%;

    display: flex;

    flex-direction: column;

  }

  

#answererDiv #leftNav div{


    width:100%;

    display: flex;

    flex-direction: column;

    height: 33.3%;

    border: 1px solid;

  }
  
  
  
  


#answererDiv #answererProperties{

    height: 100%;

    width: 100%;

    display: flex;

    flex-direction: column;

    background: darkblue;

    justify-content: space-around;
    

  }


  

#answererDiv #answererProperties div {
 
    height: 12.5%;

    width: 100%;

    display: flex;

    flex-direction: row;

    background: green;

    justify-content: space-around;

  }




    
  
/*

proposition buttons


*/



.addCpElementButton{

    height: 400%;
}

.addOfferElementButton{

    height: 100%;
}



#propositionButton{

    position: absolute;

    right: 10px;

    bottom: 10px;
}




/* close proposition interface button */




.closeInterfaceBtn{

    position: absolute;

    top: 10px;

    right: 10px;

}




/*

  Available property interface

*/


#availablePropertyInterface{

    position: absolute;

    top: 20%;

    left: 30%;

    height: 30%;

    width: 50%;

    background: white;

    border: solid 1px;

    opacity: 0;

    z-index: 1;

   
}



/* player properties management interface */



 /*

    cards

*/


#rentalPropertiesCard{

     position: absolute;

     top: 20vh;

     height: 38vh;

     width: 12vw;

     background : red;

     z-index: 9;

     display: flex;

     flex-direction: column;

     justify-content: space-around;
     
     opacity:0;



}



 /* Community chest square interface */




 #communityChestSquareInterface{

    position: absolute;

    top: 20%;

    left: 30%;

    height: 30%;

    width: 50%;

    background: white;

    border: solid 1px;

    z-index: 1;

    opacity: 0;


 }




 /* chance square interface */



 #chanceSquareInterface{

    position: absolute;

    top: 20%;

    left: 30%;

    height: 30%;

    width: 50%;

    background: white;

    border: solid 1px;

    z-index: 1;

    opacity: 0;

 }










 #openPropositionInterfaceButton{

    position: relative;

    z-index: 2;
 }



 
 #openPropertiesManagementInterfaceButton{

    position: relative;

    z-index: 2;
 }






 #sendPropositionButton{

    position : absolute;

    bottom: 20px;

    right: 20px;

 }





 #humanAnswerInterface{

    position: absolute;

    top : 40%;

    left: 30%;

    height: 40%;

    width: 40%;

    background: white;

    opacity: 0;

    z-index: 5;

 }

 



 

div[id*="PawnContainer"] {
    
    height: 10%;

    width : 10%;
   }


   

   #board{

      display: flex;

      flex-direction: column;

      justify-content: space-between;

      align-items:center;

      background: black;


   }


   #board div{

    width: 100%;

    height:20%;

   }






   #displayInterfacesButton{

     position: fixed;

     left: 6vw;

     bottom: 5vh;

     z-index:5;

   }



   /*

   board squares
 

   */


 








   /*


   board


   */



   
   .digitalContainer{

    position: absolute;

    bottom:5vh;

    height: 90vh;

    width: 95vw;

    left: 2.5vw;

    display: flex;

    flex-direction: row;

    justify-content: space-between;

}


.digitalContainerA{
  height: 100%;
  width: 20%;
  display:flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;

}

.digitalContainerAA{
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;

    justify-content: space-around;

    align-items: center;

}




/*


presentation of properties


*/


.homePropertyDiv{

    height: 80.5%;

    width: 82.5%;

    background: rgb(0,0,0, 0.1);

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    align-items: flex-end;

    border-radius: 5px;


}

.homePropertyDivA{

    background: rgb(0,0,0,0.15);

    height: 7.5%;

    width: 60%;

    margin-right: 5%;

    display: flex;

    flex-direction: row;

    align-items: center;

    justify-content: space-between;
}


.homePropertyDivB{

    background: rgb(0,0,255,0.6);

    height: 100%;

    width: 40%;

    background: red;

}



.homePropertyDivAA{
    justify-content: space-between;

    height: 99%;

    width: 35%;

    margin-left: 10%;

    display: flex;

}


.homePropertyDivAB{

    justify-content: space-between;
    height: 75%;
    width: 48%;

    display: flex;

    flex-direction: column;

    justify-content: space-around;

    align-items: center;

    border-radius: 3px;

}



.homePropertyDivABA{

    height: 30%;

    width: 85%;

    background: rgb(255,255,255,0.2);

    border-radius: 15px;

    display:flex;

    flex-direction: row;

    align-items: center;

    justify-content: flex-start;


}


.colorBar{
  background:red;
  height:100%;
  width: 0%;
}


.homePropertyDivABB{
    
    height: 30%;

    width: 85%;

    display: flex;

    flex-direction: row;

    justify-content: flex-start;

    align-items: center;

}

.homePropertyDivABBA{

    height: 90%;

    width: 7%;

    border-radius: 20px;

    background: red;

    margin-right: 10%;
    

}


.homePropertyDivABAA{

    height: 22%;

    width: 15%;

    background: yellow;

    border-radius: 20px;

    margin-bottom: 10%;

}












/*


board


*/




.digitalContainerAAB{
    height:15%;
    width:82.5%;
    background:rgb(0,0,0,0.1);
}

.digitalContainerAB{
    height: 50%;
    width: 100%;
    background: black;
}


.digitalContainerB{
   height: 100%;
   width: 100vh;
   display: flex;
   flex-direction: column;
}

.digitalContainerBA{
height:9.09%;
   width:100%;
   background:brown;
   display:flex;
   flex-direction:row;
}

.digitalContainerBB{
   height: 81.86%;
   width:100%;
   display:flex;
   flex-direction:row;
}

.digitalContainerBBA{

height: 100%;
width: 9.09%;
display: flex;
flex-direction: column;

}

.digitalContainerBBC{

height: 100%;
width: 9.09%;
display: flex;
flex-direction: column;

}

.digitalContainerBBAA{

  height:11.11%;
  width:100%;
  display: flex;
  justify-content: center;
  align-items: center;

}

.digitalContainerBBAAA{

  height: 97%;
  width: 97%;
  background: rgb(255,255,255,0.15);
  border-radius: 5px;
}


.rpSquare{
height: 97%;
width: 97%;
background: rgb(255,255,255,0.15);
display: flex;
flex-direction: column;
justify-content: space-between;
align-items: center;
border-radius: 10px;
color: rgb(0,255,0);
}


.rpSquareHeader{

height: 5%;
width: 5%;
background: rgb(0,255,0);
z-index: 2;
border-radius: 15px;
}


.rpSquareB{

   height: 50%;

   width: 100%;

   display: flex;

   justify-content: center;

   align-items: center;


}

.rpSquareC{

height: 35%;

width: 100%;

display: flex;

flex-direction: column;

justify-content: space-around;

margin-bottom: 15%;


}

.rpSquareCA{

height: 30%;

width: 100%;

display: flex;

justify-content: flex-start;

align-items: center;

font-size: 0.4vw;

margin-left: 12.5%;

}

.rpSquareCB{

height: 30%;

width: 100%;

display: flex;

justify-content: flex-start;

align-items: center;

font-size: 0.4vw;

margin-left: 12.5%;
}

.rpSquareCC{
height: 30%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
align-items: center;
font-size: 0.4vw;
margin-left: 12.5%;
}

.rpSquareCCA{

height: 100%;
width: 30%;

}

.rpSquareCCB{
height:42.5%;
width: 3.75%;
margin-right: 25%;
margin-top: 10%;
background: rgb(0,255,0,0.9);
border-radius:50px;
}

.digitalContainerBBCA{
   height:11.11%;
   width:100%;
}


.digitalContainerBBB{
   height: 100%;
  width: 81.86%;
  display: flex;
  flex-direction:row;
  justify-content: space-around;
  align-items:center;
}

.digitalContainerBBBA{
height:100%;
width:25%;
display:flex;
flex-direction:column;
align-items:center;
justify-content: space-around;
}

.digitalContainerBBBAA{
height:30%;
width:75%;
background:rgb(0,0,0,0.2);
display:flex;
justify-content:center;
align-items:center;
}

.digitalContainerBBBAB{
height:30%;
width:75%;
background:rgb(0,0,0,0.2);
display:flex;
justify-content:center;
align-items:center;
}

.digitalContainerBBBAC{
height:30%;
width:75%;
background:rgb(0,0,0,0.2);
display:flex;
justify-content:center;
align-items:center;
}



.digitalContainerBBBB{
height: 100%;
width: 40%;
display:flex;
flex-direction:column;
justify-content: center;
align-items:center;
}

.digitalContainerBBBBA{

height:55%;
width:90%;
background:rgb(255,255,255,0.3);
border-radius: 7px;

}


.digitalContainerBBBC{
height:100%;
width:33.33%;
display:flex;
flex-direction:column;
justify-content:space-around;
align-items:center;
}


.tradeScreen{
background: rgb(255,255,255,0.6);
height:55%;
width:90%;
border-radius:10px;
display:flex;
flex-direction:column;
align-items:center;
justify-content: space-around;
}


.tradeScreenTop{
height:8%;
width:90%;
border-radius: 5px;
background: rgb(255,255,255,0.5);
}


.tradeScreenBottom{
height:85%;
width:95%;
display: flex;
flex-direction: column;
align-items: center;

justify-content: space-around;
}


.tradeScreenA{
height: 45%;
width: 95%;
border-radius: 10px;
background: rgb(255,255,255,0.25);
display: flex;
flex-direction:row; 
justify-content: space-around;

color: rgb(0,225,0);

}

.tradeScreenAA{
height: 100%;
width: 75%;
display: flex;
flex-direction:column;
align-items: center;
justify-content: space-around;
}

.tradeScreenAAA{
height: 25%;
width: 100%;
display: flex;
flex-direction: row;
justify-content: space-between;
}

.tradeScreenAAAA{
height: 100%;
width: 20%;
display: flex;
justify-content: center;
align-items: center;
opacity: 0.7;
}


.tradeScreenAAAB{
height: 100%;
width: 80%;


}

.tradeScreenAAB{
height: 65%;
width: 100%;
display:flex;
flex-direction: column;
justify-content: space-around;
align-items:center;
}

.tradeScreenAABA{
height:20%;
width: 100%;
display:flex;
justify-content:space-around;
align-items: center;
flex-direction: row;
}

.tradeScreenAABAA{
height:100%;
width:10%;
display:flex;
align-items:center;
justify-content:flex-start;
}

.tradeScreenAABAAA{

height: 50%;
width: 55%;
border-radius: 30px;
background: blue;
opacity: 0.35;
}


.tradeScreenAABAB{
height: 100%;
width: 85%;
display:flex;
align-items:center;
justify-content: flex-start;
font-size: 0.45vw;
}



.tradeScreenAABBA{
height: 100%;
width: 20%;
}


.tradeScreenAABBB{
height: 100%;
width: 80%;

}


.tradeScreenAABCA{
background: purple;
height: 100%;
width: 20%;
}


.tradeScreenAABCB{
height: 100%;
width: 80%;

}



.tradeScreenAABDA{
background: purple;
height: 100%;
width: 20%;
}


.tradeScreenAABDB{
height: 100%;
width: 80%;

}






.tradeScreenAABB{
height:20%;
width: 100%;
}



.tradeScreenAABBA{


}

..tradeScreenAABBB{


}


.tradeScreenAABC{
height:20%;
width: 100%;
}


.tradeScreenAABD{
height:20%;
width: 100%;
}




.tradeScreenAB{
height: 100%;
width: 20%;
display: flex;
justify-content: center;
align-items: center;
}

.tradeScreenABA{

height: 15%;
width: 70%;
}


.tradeScreenB{
height: 45%;
width: 95%;
background: rgb(255,255,255,0.3);
border-radius: 10px;
}















.digitalContainerBBBCB{

height:25%;
width:90%;
background:rgb(0,0,0,0.2);

}


.digitalContainerBBC{

height: 100%;
width: 9.09%;
background: yellow;

}

.digitalContainerBC{ 
   height: 9.09%;
   width: 100%;
   display: flex;
   flex-direction: row;
}

.digitalContainerBCA{

  height:100%;
  width: 11.11%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.digitalContainerBCAA{

  height: 97%;
  width: 97%;
  background: rgb(255,255,255,0.15);
  border-radius: 5px;
}



.digitalContainerC{
  height:100%;
  width:20%;
  background:red;
}





#boardJournal{

    color: rgb(0,225,0, 0.8);
    overflow: hidden;
    font-size: 0.7vw;

}











/*


Property management interface


*/







.pManagementInterface{
  	
    position: absolute;
    top: 10vh;
    left:5vw;
    height: 85vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;

    opacity: 0;

}



.pManagementInterfaceA{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: #011B56;
    border-radius: 6px;
    background: darkBlue;
}

.pManagementInterfaceAA{
    background: blue;
    height: 95%;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(117, 190, 218, 0.2);
    border-radius: 7px;
}


.pManagementInterfaceMiddle{
    height:95%;
    width:65%;
    background:rgba(117, 190, 218, 0.2);
    display:flex;
    justify-content:space-around;
    align-items:center;
}

.pManagementRightArrowDiv{
    height: 95%;
    width: 2.5%;
    display:flex;
    flex-direction:column;

    align-items: center;

    justify-content: space-around;


}


.pManagementRightArrowDivA{
    height:37.5%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;


}


.pManagementRightArrowDivB{

    height:37.5%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;


}

.pManagementLeftArrowDiv{
    height:95%;
    width:2.5%;
    display:flex;
    flex-direction:column;
    align-items: center;
    justify-content: space-around;
}

.pManagementLeftArrowDivA{
    height:37.5%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;


}

.pManagementLeftArrowDivB{
    height:37.5%;
    width:100%;
    display:flex;
    justify-content:center;
    align-items:center;


}



 .pManagementInterfaceAB{
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.pManagementInterfaceABA{
    height: 37.5%;
    width: 92.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background: rgba(117, 190, 218, 0.25);
 }


 .pManagementInterfaceABB{

    height: 37.5%;
    width: 92.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background: rgba(117, 190, 218, 0.25);

 }


.pManagementInterfaceABBA{

    height: 85%;
    width: 60%; 
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items:center;
    background: rgb(255,255,255, 0.15);
}


  .pManagementInterfaceABBB{

     height: 85%;
     width: 30%; 
     border-radius: 10px;
     display: flex;
     flex-direction: row;
     justify-content: space-around;
     align-items:center;
     background: rgb(255,255,255, 0.15);
  }



  .houseBuildingDiv{
     height: 85%;
     width: 30%; 
     border-radius: 10px;
     display: flex;
     flex-direction: column;
     justify-content: space-between;
     align-items:center;
     background: rgb(255,255,255, 0.15);
  }


  .houseBuildingDivA{
     height:20%;
     width:100%;
     display: flex;
     justify-content: center;
     align-items: center;
  }

  .houseBuildingDivB{
     height:80%;
     width:100%;
     display: flex;
     justify-content: space-around;
     align-items: center;
  }


  .houseBuildingDivBA{
      height:95%; 
      width:40%;
      display:flex;
      flex-direction:column;
      justify-content:flex-end;
      align-items:center;
  }

 .houseBuildingDivBB{
      height:95%; 
      width:42.5%;
      display:flex;
      flex-direction:column;
      justify-content: center;
      align-items: center;
  }

  .houseBuildingDivBBA{
    height:40%;
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
  }

  .houseBuildingDivBBAA{
    height:80%;
    width:40%;
    border-radius:7px;
    background:rgb(255,255,255,0.15);
    color:rgb(0,255,0,0.9);
    display:flex;
    justify-content:center;
    align-items:center;
  }


  .houseBuildingDivBBAB{
    height:80%;
    width:40%;
    border-radius:7px;
    background:rgb(255,255,255,0.15);
    color:rgb(0,255,0,0.9);
    display:flex;
    justify-content:center;
    align-items:center;

  }



.pManagementInterfaceABAA{
    height:92.5%;
    width:75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }


 .pManagementInterfaceABAAA{

     height:90%;
     width: 24%;
     background: blue;
 }

.pManagementInterfaceABAB{
    height:95%;
    width:20%;
    display: flex;
    flex-direction: column;
}


 .pManagementInterfaceABABA{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

 }

 .pManagementInterfaceABABAA{
    height: 30%;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
 }


  .pManagementInterfaceABABB{

     height: 75%;
     width: 100%;

     display: flex;

     flex-direction: column;

     justify-content: flex-end;

     align-items: center;

 }







.pManagementInterfaceAC{
    background: blue;
    height: 95%;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(117, 190, 218, 0.2);
    border-radius: 7px;

}




     .pManagementInterfaceB{
        background: darkBlue;
        height: 15%;
        width: 100%;
        border-radius: 15px;
        font-size: 1vw;
        color: rgb(0,255,0,0.7);
        padding-left:1%;
        display: flex;
        align-items: center;
        justify-content: space-around;
      }

      .pManagementInterfaceBA{

        height: 90%;
        width: 23%;
      }

      .pManagementInterfaceBB{

         height: 90%;
        width: 23%;


      }

      .pManagementInterfaceBC{

        height: 90%;
        width: 23%;


      }

      .pManagementInterfaceBD{

        height: 90%;
        width: 23%;


      }











     .squareCard{
         height: 85%;
         width: 24%; 
         border-radius: 10px;
         display: flex;
         flex-direction: column;
         background: rgb(255,255,255, 0.15);
         color:rgb(0,255,0,0.8);
         font-size: 0.8vw;
     }



     .squareCardA{

      height: 70%;

      width: 100%;

      display: flex;

      flex-direction: column;

      justify-content: space-around;

      display: flex;

      flex-direction: row;

     }

     .squareCardAA{
         height: 100%;
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
     }

     .squareCardAAA{
        height:28%;
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
     }

     .squareCardAAAA{
        height:100%;
        width:70%;
        display:flex;
        justify-content:flex-start;
        align-items: center;
     }

      .squareCardAAAB{
        height:100%;
        width:30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
     }



       .squareCardAABA{
        height:100%;
        width:70%;
     }

      .squareCardAABB{
        height:100%;
        width:30%;

        display: flex;

        justify-content: center;

        align-items: center;
       
        font-size: 8px;
     }

     .squareCardAAB{
        height: 28%;
        width: 100%;

        display: flex;

        flex-direction: row;
      }

     .squareCardAAC{
       height: 28%;
       width: 100%;

       display: flex;

       flex-direction: row;
     }

      .squareCardAACA{
        height:100%;
        width:90%;

        display: flex;

        flex-direction: row;

        justify-content: flex-start;
     }

      .squareCardAACB{
        height:100%;
        width:30%;
     }




     .squareCardAB{
         height: 100%;
         width: 50%;
         display: flex;

         flex-direction: column;

         justify-content: space-around;

         align-items: center;
     }

     .squareCardABA{

        height: 30%;

        width: 100%;

        display: flex;

        justify-content: center;

        align-items: center;

     }

     .squareCardABAA{
       height:30%;
       width:80%;
       display: flex;
       justify-content: space-between;
     }

     .squareCardABAAA{

       height: 100%;
       width: 10%;

     }

     .squareCardABAAB{
       height: 100%;
       width: 85%;
       display:flex;
       justify-content: flex-start;
       align-items: center;
       font-size: 0.45vw;

     }

     .squareCardABB{


        height: 30%;

        width: 100%;


     }

     .squareCardABC{


        height: 30%;

        width: 100%;


     }



      .squareCardB{

        height: 30%;

        width: 100%;

        display: flex;

        flex-direction: row;

     }

     .squareCardBA{

      height: 100%;

      width:50%;

      display: flex;

      flex-direction: column;

      justify-content: space-around;

      align-items: center;

     }

     .squareCardBAA{
         height:60%;
         width:100%;
         display:flex;
         flex-direction: column;
         justify-content:space-around;
         align-items: center;
         font-size: 0.55vw;

     }

     .squareCardBAAA{

       height: 20%;
       width: 90%;

     }

     .squareCardBAAB{
     
       height: 20%;
       width: 90%;
     }
     .squareCardBAAC{
      
       height: 20%;
       width: 90%;
     }
     .squareCardBAAD{
      
       height: 20%;
       width: 90%;
     }

     .squareCardBAB{
         height: 40%;
         width: 100%;

     }


     .squareCardBB{

      height: 100%;

      width: 50%;

      display: flex;

      justify-content: center;

      align-items: center;

     }

     .squareCardBBA{

      background: rgb(255,255,255,0.15);

      height: 50%;

      width: 70%;

      border-radius: 4px;

      display: flex;

      justify-content: center;

      align-items: center;

     }


     #colorInfoContainer{

       display:flex;
       flex-direction: row;
       justify-content:flex-end;
       align-items:center;

     }



     #colorInfo{
        height: 100%; 
        width: 20%;
        background: rgb(0,255,0,0.55);
     }

    


    #houseLogo{

        height: 40%;

        width: auto; 



    }









    /*

       trade interface

    */




    

 .tradeInterface{
  	
    position: absolute;
    top: 10vh;
    left:5vw;
    height: 85vh;
    width: 90vw;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    z-index:7;

    

}


.tradeInterfaceA{
    height: 80%;
    width: 100%;
    display: flex;
    flex-direction:row;
    justify-content:space-around;
    align-items:center;
    background:#011B56;
    border-radius: 6px;
    background:darkBlue;
}

.tradeInterfaceAA{
    background: blue;
    height: 95%;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(117, 190, 218, 0.5);
    border-radius: 7px;
}

 .tradeInterfaceAB{
    height: 95%;
    width: 90%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}


.tradeInterfaceCenterA{
    height: 95.5%;
    width: 65%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    background: rgba(117, 190, 218, 0.5);

}

.tradeInterfaceABA{
    height: 37.5%;
    width: 92.5%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    border-radius: 5px;
    background: rgba(117, 190, 218, 0.3);
 }

.tradeInterfaceABAA{
    height:92.5%;
    width:75%;
    display: flex;
    justify-content: space-around;
    align-items: center;
 }


 .tradeInterfaceABAAA{

     height:90%;
     width: 24%;
     background: blue;
 }

.tradeInterfaceABAB{
    height:95%;
    width:20%;
    display: flex;
    flex-direction: column;
}


 .tradeInterfaceABABA{
    height: 30%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;

 }

 .tradeInterfaceABABAA{
    height: 30%;
    width: 100%;
    display:flex;
    flex-direction:row;
    justify-content: space-between;
 }


  .tradeInterfaceABABB{

     height: 75%;
     width: 100%;
     display: flex;
     flex-direction: column;
     justify-content: flex-end;
     align-items: center;

 }



.tradeInterfaceAC{
    background: blue;
    height: 95%;
    width: 13%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    background: rgba(117, 190, 218, 0.5);
    border-radius: 7px;

}




     .tradeInterfaceB{
        background: darkBlue;
        height: 15%;
        width: 100%;
        border-radius: 15px;
        font-size: 1vw;
        color:rgb(0,255,0,0.7);
        display:flex;
        flex-direction: column;
        align-items: center;

      }


      .tradeInterfaceBA{
           height: 50%;
           width: 100%;
           display: flex;
           flex-direction: row;
      }

      .tradeInterfaceBAA{
           height:100%;
           width:50%;
           display:flex;
         flex-direction:row;
           justify-content:space-around;
           align-items:center;
      }

        .tradeInterfaceBAAA{
           height:85%;
           width:65%;

         }

         .tradeInterfaceBAAB{
           height:85%;
           width:25%;
         }



        .tradeInterfaceBAB{

          height: 100%;
          width: 50%;
      }



      .tradeInterfaceBB{

          height: 50%;
          width: 100%;
          display: flex;
          flex-direction: row;
        justify-content: space-between;
        align-items: center;
      }

      .tradeInterfaceBBA{
          height:70%;
          width:20%;
          border-radius:10px;
          background:rgb(255,255,255,0.2);
          display: flex;
          justify-content: space-between;
          align-items:center;   
      }


      #leftCashInput{

        margin-left: 2%;
      }

      #rightCashInput{

        margin-right: 2%;
      }



      .tradeInterfaceBBB{
          height:70%;
          width:15%;
          border-radius: 15px;
          background: rgb(255,255,255,0.5);
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 0.8vw;
      }


       .tradeInterfaceBBAA{
          height:100%;
          width:70%;
          display: flex;
          justify-content: center;
          align-items: center;
       }


       .cashInput{

         height: 65%;
         width: 90%;
         background: none;
         border:none;
         border-shadow:none;


       }

       .tradeInterfaceBBAB{
          height:100%;
          width:25%;
          display: flex;
          justify-content: center;
          align-items: center;
       }

      .tradeInterfaceBBABA{


        font-size: 0.8vw;

        color:rgb(0,255,0,0.8);



      }









     .squareCard{
         height:85%;
         width:24%; 
         border-radius:10px; 
         background:rgb(255,255,255, 0.15);
         color:rgb(0,255,0,0.8);
         font-size: 0.8vw;
     }


     .squareCardContent{
        height:100%;
        width:100%;
        display:flex;
        flex-direction:column;
     }

     .squareCardContent{

      display: none;
     }

     .squareCardA{
        height:70%;
        width:100%;
        display:flex;
        flex-direction: column;
        justify-content: space-around;
        display: flex;
       flex-direction:row;

     }

     .squareCardAA{
         height: 100%;
         width: 50%;
         display: flex;
         flex-direction: column;
         justify-content: space-around;
         align-items: center;
     }

     .squareCardAAA{
        height:28%;
        width:100%;
        display: flex;
        flex-direction: row;
        align-items: center;
     }

     .squareCardAAAA{
        height:100%;
        width:70%;
        display:flex;
        justify-content:flex-start;
        align-items: center;
     }

      .squareCardAAAB{
        height:100%;
        width:30%;
        display: flex;
        justify-content: center;
        align-items: center;
        font-size: 8px;
     }



       .squareCardAABA{
        height:100%;
        width:70%;
     }

      .squareCardAABB{
        height:100%;
        width:30%;

        display: flex;

        justify-content: center;

        align-items: center;
       
        font-size: 8px;
     }

     .squareCardAAB{
        height: 28%;
        width: 100%;

        display: flex;

        flex-direction: row;
      }

     .squareCardAAC{
       height: 28%;
       width: 100%;

       display: flex;

       flex-direction: row;
     }

      .squareCardAACA{
        height:100%;
        width:90%;

        display: flex;

        flex-direction: row;

        justify-content: flex-start;
     }

      .squareCardAACB{
        height:100%;
        width:30%;
     }




     .squareCardAB{
         height: 100%;
         width: 50%;
         display: flex;

         flex-direction: column;

         justify-content: space-around;

         align-items: center;
     }

     .squareCardABA{

        height: 30%;

        width: 100%;

        display: flex;

        justify-content: center;

        align-items: center;

     }

     .squareCardABAA{
       height:30%;
       width:80%;
       display: flex;
       justify-content: space-between;
     }

     .squareCardABAAA{

       height: 100%;
       width: 10%;

     }

     .squareCardABAAB{
       height: 100%;
       width: 85%;
       display:flex;
       justify-content: flex-start;
       align-items: center;
       font-size: 0.45vw;

     }

     .squareCardABB{


        height: 30%;

        width: 100%;


     }

     .squareCardABC{


        height: 30%;

        width: 100%;


     }



      .squareCardB{

      height: 30%;

      width: 100%;

      display: flex;

      flex-direction: row;

     }

     .squareCardBA{

      height: 100%;

      width:50%;

      display: flex;

      flex-direction: column;

      justify-content: space-around;

      align-items: center;

     }

     .squareCardBAA{
         height:60%;
         width:100%;
         display:flex;
         flex-direction: column;
         justify-content:space-around;
         align-items: center;
         font-size: 0.55vw;

     }

     .squareCardBAAA{

       height: 20%;
       width: 90%;

     }

     .squareCardBAAB{
     
       height: 20%;
       width: 90%;
     }
     .squareCardBAAC{
      
       height: 20%;
       width: 90%;
     }
     .squareCardBAAD{
      
       height: 20%;
       width: 90%;
     }

     .squareCardBAB{
         height: 40%;
         width: 100%;

     }


     .squareCardBB{

      height: 100%;

      width: 50%;

      display: flex;

      justify-content: center;

      align-items: center;

     }

     .squareCardBBA{

      background: rgb(255,255,255,0.15);

      height: 50%;

      width: 70%;

      border-radius: 4px;

      display: flex;

      justify-content: center;

      align-items: center;

     }


     #colorInfoContainer{
       display:flex;
       flex-direction:row;
       justify-content:flex-end;
       align-items:center;
     }


     #colorInfo{
        height:100%; 
        width:20%;
        background:rgb(0,255,0,0.4);
     }



    .rightArrowDiv{
       height: 95%;
       width: 2.5%;
       display:flex;
       flex-direction:column;
       align-items: center;
       justify-content: space-around;

     }

    .rightArrowDivA{

      height: 37.5%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .rightArrowDivB{

      height: 37.5%;
      width: 100%;
      display: flex;
      justify-content: center;
      align-items: center;

    }



    .leftArrowDiv{
       height: 95%;
       width: 2.5%;
       display:flex;
       flex-direction:column;

       align-items: center;

       justify-content: space-around;


     }


    .leftArrowDivA{
      height:37.5%;
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;
    }

    .leftArrowDivB{
      height:37.5%;
      width:100%;
      display:flex;
      justify-content:center;
      align-items:center;

    }




     #proposeButton{


      background: none;

      border:none;
     }






